@model IEnumerable<MyCollections.Models.Game>

    <div id="overlay" class="coverAll">
        <img src="images/bannerBackgroundImage.gif" class="overlayGif" />
    </div>

    <div id="mButtons" class="margins">
        <button class="btn btn-primary" id="btn_NewGame"><a href="Games/Create" style="color: white !important;">Novo Jogo</a></button>
        <button class="btn btn-primary" id="btn_AutoNewGames"><a href="Games/AutoNewGames" style="color: white !important;">Buscar novos jogos</a></button>
        <button class="btn btn-primary" id="btn_Commit"><a href="Games/Commit" style="color: white !important;">Salvar no Servidor</a></button>
        <button class="btn btn-primary" id="btn_FindOnSteam"><a href="Games/FindGameOnSteam" style="color: white !important;">Procurar jogos atuais <noframes> Steam</noframes></a></button>
    </div>

    <table class="table" id="gamesTable">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Logo
                </th>
                <th>
                    Loja
                </th>
                <th>
                    Sistema
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => game.GameID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Name)
                </td>
                <td>
                    <img src="docs/@Html.DisplayFor(modelItem => game.LogoURL)" class="lazy"
                        style="width: 70px;">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Store)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.System)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Disabled)
                </td>
            </tr>
            }
        </tbody>
    </table>